/* Universal Styles */

html {
  font-family: 'Exo 2';
  font-size: 18px;
  line-height: 1.4;
}
p {
  color: white;
}

h1 {
  font-family: "Exo 2";
  font-weight: 900;
  font-size: 2rem;
  color: white;
  padding-bottom: 24px;
}

.content2 h1 {
  padding-top: 32px;
}

.content3 h1 {
  text-align: center;
  padding-bottom: 32px;
}

.content4 h1 {
  text-align: center;
  padding-top: 32px;
  width: 100%;
}

h3 {
  font-family: "Exo 2";
  font-weight: 500;
  font-size: 1.3rem;
  color: white;
  padding-bottom: 24px;
}

#orange {
  color: #FFA61E;
}

#green {
  color: #6DAD06;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  /* background-color: #C6FFCE; */
}

.nav-logo {
  height: 32px;
  display: flex;
  align-items: center;
}

#name1 {
  font-family: "Inknut Antiqua";
  font-weight: 900;
}

#name2 {
  font-family: "Inknut Antiqua";
  font-weight: 300;
}

.nav-icons {
  display: none;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-flow: row;
}

.nav-links span {
  padding-left: 16px;
}

/* Main Content */
.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7ACBFF;
  width: 13rem;
  height: 3rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.cta:hover {
  background-color: #FFA61E;
  transition: color .75s ease-in;
}

.content1 {
  display: flex;
  flex-flow: row;
  width: 100%;
  background-color: #3D667F;
}

.content-left img {
  width: 100%;
}

.content-left video {
  width: 100%;
  padding-bottom: 1.3rem;
}

.content-left {
  margin: 1.8rem 1.3rem;
  max-width: 60%;

}

.content-right {
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 40%;
}

/* Content 2 */
.content2 {
  display: flex;
  flex-flow: row;
  width: 100%;
  background-color: #5D4F7F;
}

.content2 .content-right {
  background-color: white;
}

.content4 .content-right {
  background-color: white;
}

.stories {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.story {
  display: flex;
  /* width: 100%; */
  padding: 16px;
  height: auto;
  border-width: thin;
  border-color: black;
}

.storyimage img {
  max-width: 100%;

}

.storyinfo {
  display: flex;
  flex-flow: column;
  margin-left: 1rem;
  width: 65%;
  justify-content: center;
}

/* Individual Story Styles */

.storyheadline {
  font-family: "exo 2";
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 8px;
}

.storydescription {
  font-family: "exo 2";
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 8px;
}

.readmore {
  color: #93427F;
  font-size: 1rem;
  font-weight: 200;
}


/* Content 3 */
.content3 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* width: 100%; */
  padding: 1.8rem 4rem;
  background-color: #FFA61E;
}

.courses {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.courses-mobile {
  display: none;
}

.course-mobile {
  width: 100%;
  height: 4rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course {
  display: flex;
  flex-flow: column;
  width: 31%;
  padding-bottom: 32px;
}

.coursedetails {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding: 16px;
  background-color: white;
  height: 6rem;
}


.coursetitle {
  font-size: 1.5rem;
}

.coursedetails span {
  padding-bottom: 8px;
}

.course img {
width: 100%;
}

/* Content 4 */
.content4 {
  display: flex;
  flex-flow: column;
  width: 100%;
  background-color: #6DAD06;
  /* background-color: #3D667F; */
}

.thesisexhibit {
  display: flex;
  width: 100%;
  margin-top: 0;
}

.content4 .content-right {
  justify-content: flex-start;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  font-size: .7rem;
  background-color: #7ACBFF;
  color: white;
  height: 1.4rem;
  width: auto;
  padding: 16px 24px;
}


/* Responsive Midsize */

@media only screen and (max-width: 1024px) {
  html {
    font-size: 14px;
    line-height: 1.6;
  }
}

@media only screen and (max-width: 915px) {
  .course {
    width: 48%;
    justify-content: space-around;
  }
}



@media only screen and (max-width: 786px) {

  span #id {
    display: none;
  }

  .nav-logo {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .nav-icons {
    display: flex;
    width: 100%;
    /* justify-content: space-around; */
  }

  /* .nav-icons img {
    width: 100%;
  } */

  .content-left {
    max-width: 45%;
  }

  .content-right {
    max-width: 45%;
  }
}

@media only screen and (max-width: 650px) {

  .content1 {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .content1 .content-left{
    max-width: 100%;
  }

  .content1 .content-right{
    max-width: 100%;
  }

  .cta {
    width: 100%;
    margin-bottom: 2.2rem;
  }


  .content2 .content-left {
    display: none;
  }

  .content2 .content-right {
    max-width: 100%;
  }

  .courses {
    display: none;
  }

  .courses-mobile {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .course-mobile {
    margin-bottom: 15px;
  }

  .content4 .content-left {
    max-width: 100%;
  }

  .content4 .content-right {
    display: none;
  }

}
